.chessboard{
    width:400px;
    height:400px;
    display: flex;
    flex-wrap: wrap;
}

.square svg{
    height:40px;
    width: 40px;
    margin: 5px;
}

.square{
    height: 50px;
    width: 50px;
}

.green{
    background-color: rgb(17, 156, 17);
}

.lightgreen{
    background-color: rgb(112, 201, 112);
}

